.banner-container{
        background-image: url("../../../image/banner.png");
        height: 50vh;
        background-color: #fcf4e0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
.form-control{
        border: none;
        border-radius: 5rem;
}
.input-group-text{
        border: none;
        border-radius: 5rem;
        background-color: #ffffff;
}